@use "mixins";
@use "variables";

// RESET CSS

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

// GENERAL SETTINGS

body {
  @include mixins.flex-preset(column-sb);
  position: relative;
  min-height: 100vh;
}

.primary__title {
  margin: 5rem;
  @include mixins.text-preset(normal-h2);

  span {
    @include mixins.text-preset(italic-h2);
    display: block;
  }
}

.slogan {
  @include mixins.text-preset(description);
  font-size: 2rem;
  text-align: center;
}

p {
  @include mixins.text-preset(paragraph);
}

.active {
  color: variables.$grass!important;
}

// BUTTONS

.btn__primary {
  @include mixins.button-preset(primary-button);

  &:hover {
    @include mixins.button-hover-preset(primary-button);
  }
}

.filter__button {
  @include mixins.button-preset(filter-button);

  &:hover {
    @include mixins.button-hover-preset(filter-button);
  }
}

// HEADER ELEMENTS

.header__elements {
  @include mixins.flex-preset(column-center);
}

// HEADER LOGO

header {
  @include mixins.flex-preset(column-center-start);

  .main__logo {
    height: 7rem;
    margin-top: 4rem;
  }
}

// MAIN MENU

.main__menu {
  margin-top: 2rem;
  @include mixins.flex-preset(column-center-start);

  ul {
    @include mixins.flex-preset(row-center);
    gap: 2rem;
    list-style: none;

    li a {
      @include mixins.text-preset(menu-links);
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        @include mixins.hover-text-preset(hover-menu-links);
      }
    }
  }
}

// HERO SECTION

.index__bg {
  .recipe__card {
    margin: 12rem 0 3rem;
    min-height: 0;
    height: auto;
    box-shadow: none;
  }
}

.index__bg::before {
  content: "";
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  z-index: -1;
  background: url("../src/images/leaves-background.jpg") center/cover;
}

.hero__title {
  @include mixins.flex-preset(column-center);
  margin: 5rem 0;

  h1 {
    @include mixins.text-preset(normal-h1);
    margin-bottom: 5rem;
  }

  .hero__title--italic {
    @include mixins.text-preset(italic-h1);
    display: block;
  }
}

// ABOUT

.about {
  @include mixins.flex-preset(column-center);
  padding: 0 3rem;
  gap: 2rem;
  margin-bottom: 5rem;

  @include mixins.media-min(1024px) {
    padding: 0 10%;
  }

  p {
    text-align: justify;
    font-size: 1.8rem;
    font-weight: 500;
  }

  a {
    margin-top: 2rem;
  }
}

// TIPS

.tips__container {
  margin: 5rem 3rem;
  @include mixins.grid-preset(grid-center);
  row-gap: 3rem;

  @include mixins.media-min(1024px) {
    grid-template-columns: repeat(3, 1fr);
    margin: 5rem;
    column-gap: 3rem;
  }

  .tips__content {
    border-radius: 2.5rem;
    padding: 3rem;
    position: relative;

    &::after {
      content: "";
      background-color: variables.$grass;
      opacity: 0.1;
      border-radius: 2rem;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }

    h4 {
      @include mixins.text-preset(h3);
      text-align: left;
      margin-bottom: 2rem;
    }
  }
}

// RECIPE CARDS

.filter__selection {
  @include mixins.flex-preset(column-center);
  gap: 2rem;
  padding: 2rem 5rem 0;
  @include mixins.media-min(1024px) {
    @include mixins.flex-preset(row-center);
  }

  li {
    list-style: none;
    width: 100%;
    display: flex;
    @include mixins.media-min(1024px) {
      width: auto;
    }

    a {
      width: 100%;
    }
  }
}

.recipe__container {
  @include mixins.flex-preset(column-center);
  margin: 13rem 0 5rem;
  padding: 0 5rem;
}

.recipe__category {
  @include mixins.text-preset(h3);
  font-size: 2.8rem;
  margin-top: 5rem;
}

.recipe {
  @include mixins.grid-preset(grid-center);
  column-gap: 3rem;
  row-gap: 13rem;
  flex-wrap: wrap;
  @include mixins.media-min(1024px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.recipe li {
  list-style: none;
  width: 100%;
  @include mixins.media-min(1024px) {
    width: 36.5rem;
  }
}

.recipe__card {
  @include mixins.flex-preset(column-sb);
  gap: 3rem;
  padding: 3rem 2.5rem;
  border-radius: 2rem;
  box-shadow: 0rem 2.8rem 2rem 0rem rgba(0, 0, 0, 12%);
  min-height: 54rem;

  img {
    margin-top: -10rem;
    overflow: hidden;
    height: 22.7rem;
    width: auto;
    border-radius: 50%;
    box-shadow: 0rem 1rem 2rem 0rem rgba(0, 0, 0, 18%);
  }

  h3 {
    @include mixins.text-preset(h3);
    margin-bottom: 0.8rem;
  }

  h4 {
    @include mixins.text-preset(category);
  }

  h5 {
    @include mixins.text-preset(h4);
  }

  p {
    @include mixins.text-preset(description);
  }

  .recipe__card__indications--bold {
    font-weight: 700;
  }
}

.recipe__card__macros {
  width: 100%;
  @include mixins.flex-preset(row-sb);

  svg {
    fill: variables.$tea;
    height: 3.5rem;
  }

  p {
    @include mixins.text-preset(details);
  }

  a {
    width: 100%;
    padding: 1.5rem;
  }
}

// INDIVIDUAL RECIPE PAGES

.individual__recipe {
  margin: 3rem;
  grid-template-columns: 1fr;

  @include mixins.media-min(1024px) {
    width: 60%;
  }

  .recipe__individual__image {
    height: 30rem;
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;

    @include mixins.media-min(1024px) {
    height: 30rem;
  }
    

    img {
      overflow: visible;
      margin-top: 0;
      border-radius: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .recipe__card {
    @include mixins.media-min(1024px) {
      padding: 8rem;
    }
  }

  h5 {
    margin-bottom: 1rem;
    font-size: 2rem;

    @include mixins.media-min(1024px) {
      text-align: left;
    }
  }

  li {
    @include mixins.text-preset(description);
    width: auto;

    @include mixins.media-min(1024px) {
      text-align: left;
    }
  }

  .recipe__card__macros {
    @include mixins.media-min(1024px) {
      @include mixins.flex-preset(row-center);
      gap: 3rem;
    }
  }
}

.recipe__card__ingredients {
  margin: 0;
  @include mixins.flex-preset(column-center);
  @include mixins.media-min(1024px) {
    width: 40%;
    padding-right: 3rem;
    @include mixins.flex-preset(column-start);
  }

  ul {
    li {
      list-style: circle;
      text-align: left;

      &::marker {
        font-size: 2rem;
        color: variables.$tea;
      }
    }
  }
}

.ingredients__instructions__container {
  @include mixins.media-min(1024px) {
    @include mixins.flex-preset(row-start);
  }
}

.recipe__card__instructions {
  margin-top: 3rem;
  @include mixins.media-min(1024px) {
    margin-top: 0;
    padding-left: 3rem;
    border-left: 0.1rem solid variables.$leaf;
  }
  width: 100%;
  ol {
    li {
      text-align: left;
      list-style: decimal;
      margin-left: 2rem;
      padding: 0.5rem 1rem;
      width: 100%;

      &::marker {
        font-family: "Playfair Display", serif;
        font-size: 2rem;
        color: variables.$tea;
        font-weight: 600;
      }
    }
  }
}

// FOOTER

.footer {
  margin-bottom: 5rem;

  p {
    @include mixins.text-preset(footer-text);
  }
}
