* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

.primary__title {
  margin: 5rem;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 3.6rem;
  text-transform: none;
  color: #294504;
  letter-spacing: -0.4rem;
  font-style: normal;
  text-align: center;
  line-height: 3.5rem;
  transition: none;
}
.primary__title span {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 4.8rem;
  text-transform: none;
  color: #294504;
  letter-spacing: -0.2rem;
  font-style: italic;
  text-align: center;
  line-height: 3.5rem;
  transition: none;
  display: block;
}

.slogan {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: none;
  color: #7B7373;
  letter-spacing: 0;
  font-style: normal;
  text-align: center;
  line-height: normal;
  transition: none;
  font-size: 2rem;
  text-align: center;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: none;
  color: #294504;
  letter-spacing: 0;
  font-style: normal;
  text-align: left;
  line-height: normal;
  transition: none;
}

.active {
  color: #B1C03E !important;
}

.btn__primary {
  color: #F6F5F4;
  font-style: "Inter";
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  background-color: #397E40;
  text-decoration: none;
  padding: 1.2rem 4rem;
  font-weight: 800;
  text-align: center;
  border-radius: 2.5rem;
  transition: all 0.3s linear;
  border: none;
}
.btn__primary:hover {
  background-color: #B1C03E;
}

.filter__button {
  color: #294504;
  font-style: "Inter";
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  background-color: transparent;
  text-decoration: none;
  padding: 1.2rem 4rem;
  font-weight: 800;
  text-align: center;
  border-radius: 2.5rem;
  transition: all 0.3s linear;
  border: 0.1rem solid #294504;
}
.filter__button:hover {
  background-color: #B1C03E;
}

.header__elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
header .main__logo {
  height: 7rem;
  margin-top: 4rem;
}

.main__menu {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main__menu ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
.main__menu ul li a {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: none;
  color: #294504;
  letter-spacing: 0.08rem;
  font-style: normal;
  text-align: left;
  line-height: normal;
  transition: all 0.3s linear;
  text-decoration: none;
  text-transform: uppercase;
}
.main__menu ul li a:hover {
  color: #7B7373;
}

.index__bg .recipe__card {
  margin: 12rem 0 3rem;
  min-height: 0;
  height: auto;
  box-shadow: none;
}

.index__bg::before {
  content: "";
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  z-index: -1;
  background: url("../src/images/leaves-background.jpg") center/cover;
}

.hero__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}
.hero__title h1 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 6.2rem;
  text-transform: none;
  color: #294504;
  letter-spacing: -0.5rem;
  font-style: normal;
  text-align: center;
  line-height: 6.8rem;
  transition: none;
  margin-bottom: 5rem;
}
.hero__title .hero__title--italic {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 9rem;
  text-transform: none;
  color: #294504;
  letter-spacing: -0.1rem;
  font-style: italic;
  text-align: center;
  line-height: 6.8rem;
  transition: none;
  display: block;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  gap: 2rem;
  margin-bottom: 5rem;
}
@media screen and (min-width: 1024px) {
  .about {
    padding: 0 10%;
  }
}
.about p {
  text-align: justify;
  font-size: 1.8rem;
  font-weight: 500;
}
.about a {
  margin-top: 2rem;
}

.tips__container {
  margin: 5rem 3rem;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
}
@media screen and (min-width: 1024px) {
  .tips__container {
    grid-template-columns: repeat(3, 1fr);
    margin: 5rem;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}
.tips__container .tips__content {
  border-radius: 2.5rem;
  padding: 3rem;
  position: relative;
}
.tips__container .tips__content::after {
  content: "";
  background-color: #B1C03E;
  opacity: 0.1;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.tips__container .tips__content h4 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 2.4rem;
  text-transform: none;
  color: #294504;
  letter-spacing: 0;
  font-style: normal;
  text-align: center;
  line-height: 2.3rem;
  transition: none;
  text-align: left;
  margin-bottom: 2rem;
}

.filter__selection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem 5rem 0;
}
@media screen and (min-width: 1024px) {
  .filter__selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.filter__selection li {
  list-style: none;
  width: 100%;
  display: flex;
}
@media screen and (min-width: 1024px) {
  .filter__selection li {
    width: auto;
  }
}
.filter__selection li a {
  width: 100%;
}

.recipe__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 13rem 0 5rem;
  padding: 0 5rem;
}

.recipe__category {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 2.4rem;
  text-transform: none;
  color: #294504;
  letter-spacing: 0;
  font-style: normal;
  text-align: center;
  line-height: 2.3rem;
  transition: none;
  font-size: 2.8rem;
  margin-top: 5rem;
}

.recipe {
  display: grid;
  grid-template-columns: 1fr;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  row-gap: 13rem;
  flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  .recipe {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.recipe li {
  list-style: none;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .recipe li {
    width: 36.5rem;
  }
}

.recipe__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding: 3rem 2.5rem;
  border-radius: 2rem;
  box-shadow: 0rem 2.8rem 2rem 0rem rgba(0, 0, 0, 0.12);
  min-height: 54rem;
}
.recipe__card img {
  margin-top: -10rem;
  overflow: hidden;
  height: 22.7rem;
  width: auto;
  border-radius: 50%;
  box-shadow: 0rem 1rem 2rem 0rem rgba(0, 0, 0, 0.18);
}
.recipe__card h3 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 2.4rem;
  text-transform: none;
  color: #294504;
  letter-spacing: 0;
  font-style: normal;
  text-align: center;
  line-height: 2.3rem;
  transition: none;
  margin-bottom: 0.8rem;
}
.recipe__card h4 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #7B7373;
  letter-spacing: 0;
  font-style: normal;
  text-align: center;
  line-height: normal;
  transition: none;
}
.recipe__card h5 {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 1.6rem;
  text-transform: none;
  color: #294504;
  letter-spacing: 0;
  font-style: normal;
  text-align: center;
  line-height: normal;
  transition: none;
}
.recipe__card p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: none;
  color: #7B7373;
  letter-spacing: 0;
  font-style: normal;
  text-align: center;
  line-height: normal;
  transition: none;
}
.recipe__card .recipe__card__indications--bold {
  font-weight: 700;
}

.recipe__card__macros {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.recipe__card__macros svg {
  fill: #294504;
  height: 3.5rem;
}
.recipe__card__macros p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  color: #7B7373;
  letter-spacing: 0;
  font-style: normal;
  text-align: center;
  line-height: normal;
  transition: none;
}
.recipe__card__macros a {
  width: 100%;
  padding: 1.5rem;
}

.individual__recipe {
  margin: 3rem;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 1024px) {
  .individual__recipe {
    width: 60%;
  }
}
.individual__recipe .recipe__individual__image {
  height: 30rem;
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
}
@media screen and (min-width: 1024px) {
  .individual__recipe .recipe__individual__image {
    height: 30rem;
  }
}
.individual__recipe .recipe__individual__image img {
  overflow: visible;
  margin-top: 0;
  border-radius: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .individual__recipe .recipe__card {
    padding: 8rem;
  }
}
.individual__recipe h5 {
  margin-bottom: 1rem;
  font-size: 2rem;
}
@media screen and (min-width: 1024px) {
  .individual__recipe h5 {
    text-align: left;
  }
}
.individual__recipe li {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: none;
  color: #7B7373;
  letter-spacing: 0;
  font-style: normal;
  text-align: center;
  line-height: normal;
  transition: none;
  width: auto;
}
@media screen and (min-width: 1024px) {
  .individual__recipe li {
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .individual__recipe .recipe__card__macros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}

.recipe__card__ingredients {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .recipe__card__ingredients {
    width: 40%;
    padding-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.recipe__card__ingredients ul li {
  list-style: circle;
  text-align: left;
}
.recipe__card__ingredients ul li::marker {
  font-size: 2rem;
  color: #294504;
}

@media screen and (min-width: 1024px) {
  .ingredients__instructions__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

.recipe__card__instructions {
  margin-top: 3rem;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .recipe__card__instructions {
    margin-top: 0;
    padding-left: 3rem;
    border-left: 0.1rem solid #397E40;
  }
}
.recipe__card__instructions ol li {
  text-align: left;
  list-style: decimal;
  margin-left: 2rem;
  padding: 0.5rem 1rem;
  width: 100%;
}
.recipe__card__instructions ol li::marker {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  color: #294504;
  font-weight: 600;
}

.footer {
  margin-bottom: 5rem;
}
.footer p {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #294504;
  letter-spacing: 0.1rem;
  font-style: normal;
  text-align: center;
  line-height: normal;
  transition: none;
}/*# sourceMappingURL=main.css.map */